:root {
    --primary: #3871C1;
    --primary-deep: #8EAFDD;
    --primary-deep2: #363D46;
    --primary-light: #F4E244;
    --secondary: #ba5e5d;
    --secondary-deep: #af1e15;
    --secondary-deep2: #ba0302;
    --secondary-light: #B98584;
    --info: rgba(212, 202, 205);
    --h1: 64px;
    --h2: 48px;
    --h3: 40px;
    --h4: 36px;
    --h5: 32px;
    --h6: 24px;
    --p: 20px;
    --p1: 16px;
    --p2: 12px;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    margin: 10px;
    /* 設置卡片之間的間距 */
    width: 280px;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 添加陰影效果 */
    transition: box-shadow 0.3s ease;
    /* 添加陰影過渡效果 */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* 滑鼠懸停時陰影加深 */
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover .card-img-top {
    filter: blur(3px);
    /* 滑鼠懸停時圖片模糊 */
}

input {
    border: 0;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input:hover {
    color: black;
    background-color: var(--primary-deep);
}

.card-title {
    font-size: var(--h6);
    font-weight: bolder;
}

.card-text {
    position: absolute;
    color: red;
    font-weight: bolder;
    font-size: var(--p);
    bottom: 15px;
}

.card-people {
    color: var(--primary);
    margin-bottom: 0px;
    position: absolute;
    font-size: var(--p);
    right: 10px;
    bottom: 15px;
    font-weight: bolder;
}

.new-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: #f00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}
@media (max-width:768px) {
    .card{
        margin-left: auto;
        margin-right: auto;
    }
}